---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
// import TechWatch from "../components/TechWatch.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Baptiste TABAR LABONNE - Architecte Web"
	description="Portfolio de Baptiste TABAR LABONNE, apprenti en Mastère Architecte Web spécialisé en développement fullstack, conception d'interfaces et solutions performantes."
>
	<Header />
	<main>
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Skills />
		<!-- <TechWatch /> -->
		<Contact />
	</main>
	<Footer />
</Layout>
